<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postagens - Viagens & Turismo</title>
    <link rel="stylesheet" href="./../css/index.css" />
    <script src="./../../controller/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="postagens.html">Postagens</a></li>
          <li><a href="dicas.html">Dicas</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </nav>
    </header>

    <section id="postagens">
      <h2>Postagens Recentes</h2>
      <div class="post">
        <img
          src="https://www.guiadasemana.com.br/contentFiles/image/opt_w320h0/2018/03/FEA/56826_shutterstock-349221143-nova-zelandia.jpg"
          alt="Destinos de Aventura"
        />
        <h3>Destinos de Aventura</h3>
        <p>Confira os melhores lugares para uma viagem cheia de aventura!</p>
      </div>
      <div class="post">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyeSk0kLfGYokeqwcJ8azzUB_bIDtj2uYwPw&s"
          alt="Turismo Cultural"
        />
        <h3>Turismo Cultural</h3>
        <p>Explore a cultura ao redor do mundo.</p>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 Viagens & Turismo</p>
    </footer>

  </body>
</html>
